<mat-toolbar color="primary" class="navbar">
    <span class="brand"></span>
    <span class="spacer"></span>
    <div class="auth-buttons">
        <button mat-raised-button color="accent" (click)="login()" class="auth-button">
            <mat-icon>login</mat-icon>
            Login
        </button>
        <button mat-raised-button color="accent" (click)="register()" class="auth-button">
            <mat-icon>person_add</mat-icon>
            Register
        </button>
    </div>
</mat-toolbar>
